.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
  height: 100vh;
  /* padding: 0 5rem; */
}

@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: #333;
  font-size: 1rem;
}

.App input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: #333;
  font-size: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Controls {
    display: none;
  }
  .Toggle {
    display: block;
  }
}

@media (min-width: 769px) {
  .Controls {
    display: flex;
  }
  .Toggle {
    display: none;
  }
}

.Toggle {
  position: absolute;
  display: none; /* Hide by default */
  cursor: pointer;
  right: 20px;
  top: 20px;
  z-index: 100;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
}

.Toggle:before,
.Toggle:after,
.Toggle div {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 3px;
  margin: 6px 0;
  transition: all 0.2s ease-in-out;
}

.Toggle:active div {
  transform: scale(0.8);
}

.Toggle:active:before {
  transform: translateY(9px) rotate(45deg);
}

.Toggle:active:after {
  transform: translateY(-9px) rotate(-45deg);
}

.ToggleMobile:before,
.ToggleMobile:after,
.ToggleMobile div {
  background-color: black;
}
