.GoPasswordlessLogo {
  width: 50%;
}

.GoPasswordlessWidget {
  border: 1px solid #ddd;
  padding: 15px 40px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 402px; */
  width: 20rem;
  height: 500px;
  gap: 20px;
  text-align: center;
}

.GoPasswordlessDivider {
  height: 1px;
  border-top: 1px solid #ddd;
  margin: 10px 0;
  width: 100%;
}

.GoPasswordlessLink {
  color: #007bff;
}

.GoPasswordlessLink:hover {
  cursor: pointer;
}
